<section class="collecting">
  <div class="container collecting__container">
    <div class="collecting__illustration">
      <picture>
        <source srcset="img/collecting/illustration.webp" type="image/webp">
        <img loading="lazy" src="img/collecting/illustration.png" class="collecting__illustration-image collecting__image" width="658" height="658" alt="Иллюстрация">
      </picture>
    </div>
    <div class="collecting__block">
      <h1 class="collecting__title">
        01 Заполни форму
      </h1>
      @include('form.html')
    </div>
  </div>
</section>
